<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8" />
  <th:block th:include="pages/manager/common/editResources::syseditjsresources"></th:block>
  <style type="text/css">
    .dmImge{z-index:10;width: 353px;height: 93.83px;position:absolute;top:0;left:0}
    .dmImg{z-index:10;width: 143.52px;height: 93.83px;position:absolute;top:0;left:0}

  </style>
</head>
<body style="padding:10px 10px 10px 10px">
<form class="layui-form layui-form-pane" >
  <input th:if="${ds!=null and ds['id']!=null}" th:name="id" th:value="${ds['id']}" type="hidden"/>
  <div class="layui-form-item">
    <label class="layui-form-label">名称</label>
    <div class="layui-input-block">
      <input type="text" name="dcName" required="required" title="优惠卷名称"  lay-verify="required|max20" th:value="${ds!=null? ds['dcName']:''}" placeholder="请输入优惠卷名称" autocomplete="off" class="layui-input" />
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">类型</label>
    <div class="layui-input-block">
      <select name="dcType" required="required">
        <th:block th:utext="${#TdEnum.createDictOptions('com.ddw.enums.CouponTypeEnum',#maps.isEmpty(ds)?'':ds['dcType'])}"></th:block>
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">优惠幅度</label>
    <div class="layui-input-block">
      <input type="text" name="dcMoney" required="required" title="优惠幅度"  lay-verify="required" th:value="${ds!=null? (ds['dcType']==2?#toolsddw.divided(ds['dcMoney'],10):ds['dcMoney']):''}" placeholder="请输入优惠幅度" autocomplete="off" class="layui-input" />
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">最低消费</label>
    <div class="layui-input-block">
      <input type="text" name="dcMinPrice" title="最低消费"   th:value="${ds!=null? ds['dcMinPrice']:''}" placeholder="请输入最低消费" autocomplete="off" class="layui-input" />
    </div>
  </div>


  <div class="layui-form-item">
    <label class="layui-form-label">有效时间</label>
    <div class="layui-input-block">
      <input type="text" name="dtActiveTime" id="dtActiveTime"  required="required" title="有效时间"  lay-verify="required" th:value="${ds!=null? #dates.format(ds['dcStartTime'],'yyyy-MM-dd HH:mm')+' - '+#dates.format(ds['dcEndTime'],'yyyy-MM-dd HH:mm'):''}" placeholder="请输入有效时间" autocomplete="off" class="layui-input" />

    </div>
  </div>
  <div class="layui-form-item" th:if="${store==null}">
    <label class="layui-form-label">门店占比</label>
    <div class="layui-input-block">
      <input type="text" name="storeProportion" title="门店占比"   th:value="${ds!=null and ds['storeProportion']!=null? ds['storeProportion']:storeProportion}" autocomplete="off" class="layui-input" />
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">描述</label>
    <div class="layui-input-block">
      <textarea placeholder="请输入描述" name="dcDesc" th:text="${ds!=null? ds['dcDesc']:''}" class="layui-textarea"></textarea>
    </div>
  </div>


  <div class="layui-form-item" style="display: none">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="lay-submit" lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script type="text/javascript">
    //initForm("do-edit-user",".layui-form")
  window.onload=function(){
      layui.use(['laydate','form','layer'], function(){
          layer=layui.layer;
          var laydate=layui.laydate;
          laydate.render({
              elem: '#dtActiveTime', //指定元素
              type: 'datetime',
              range: true,
              format:'yyyy-MM-dd HH:mm'
          });
          initProForm(layui);

          //执行实例
          // var uploadInst1 = upload.render(initUpload(".myupload1","dgImg","dmImg"));


      });
  }


    function initProForm(layui){
        var form = layui.form;
        form.verify({
            required:function(value,item){
                var msg=item.getAttribute("placeholder");
                if(value!=null && value.replace(/[ ]/g,"")==""){
                    return msg==null?"请输入必填项":msg;
                }else{
                    return false;
                }
                return msg==null?"请输入必填项":msg;
            },
            max20:function(value,item){
                if(value.length>20){
                    return '标题至多得20个字符啊';
                }
            },
            max200:function(value,item){
                if(value.length>200){
                    return '活动描述至多得200个字符啊';
                }
            }
        })
        $(".layui-form").submit(function(){

            return  commonSubmit("do-edit",$(".layui-form"));

        })
    }
</script>
</body>
</html>