<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="pages/manager/common/layout" >

<th:block   layout:fragment="options">
    <div class="contenttitle2">
        <h3>活动列表</h3>

    </div><!--contenttitle-->

    <div class="tableoptions">

        <form class="layui-form" >
            <div class="layui-form-item2 layui-form-item">
                <div class="float-left-div" >

                    <label class="layui-form-label" >名称</label>
                    <div class="layui-input-inline" >
                        <input class="layui-input" name="uName" th:value="${#httpServletRequest.getParameter('uName')}"/>
                    </div>
                </div>
                <a href="javascript:void(0)" onclick="ajaxPage(1,'search')" class="btn btn_search radius50"><span>Search</span></a>

            </div>
        </form>
        <!-- <select class="radius3">
             <option value="">Show All</option>
             <option value="">Rendering Engine</option>
             <option value="">Platform</option>
         </select> &nbsp;
         <button class="radius3">Apply Filter</button>
         <input class="radius3" style="padding: 6px 5px 6px 5px;margin-left:10px;"/>-->
    </div><!--tableoptions-->
    <div class="tableoptions">

        <button class="radius3"  onclick="openDialog('650px','450px','新增外部链接活动','to-edit?dtType=1')" title="table2">新增外部链接活动</button> &nbsp;
        <button class="radius3" onclick="openDialog('650px','450px','新增内部链接活动','to-edit?dtType=2')" title="table2">新增内部链接活动</button> &nbsp;
        <button class="radius3" onclick="openDialog('869px','510px','新增本文内容活动','to-edit?dtType=3')" title="table2">新增本文内容活动</button> &nbsp;

    </div>
</th:block>
<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
    <th:block   layout:fragment="dataHead">

        <colgroup >
            <!--<col class="con0" style="width: 4%" />-->
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />

            <col class="con0" />
        </colgroup>
        <thead >
        <tr>
            <th class="head1">活动标题</th>
            <th class="head1">类型</th>
            <th class="head1">活动时间</th>

            <th class="head1">创建时间</th>

            <th class="head1">操作</th>
        </tr>
        </thead>
    </th:block>
    <tbody layout:fragment="dataBody" th:attr="total=${sPage!=null?sPage.total:0}">
    <tr th:each="obj:${sPage?.result}">
        <td th:text="${obj['dtTitle']}">Trident</td>
        <td th:text="${#TdEnum.text('com.ddw.enums.ActivityTypeEnum',obj['dtType'])}">Trident</td>
        <td th:text="${(#maps.containsKey(obj,'dtStartTime')?#dates.format(obj['dtStartTime'],'yyyy-MM-dd HH:mm'):'未设置')+' - '+(#maps.containsKey(obj,'dtEndTime')?#dates.format(obj['dtEndTime'],'yyyy-MM-dd HH:mm'):'未设置')}">Win 95+</td>
        <td th:text="${obj['createTime']}">Win 95+</td>

        <td class="center">
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" th:onclick="'openDialog(\''+${obj['dtType']==3?'869px':'650px'}+'\',\''+${obj['dtType']==3?'510px':'450px'}+'\',\'修改\',\'to-edit?id='+${obj['id']}+'\')'"  >修 改</button>

                <button  th:class="'layui-btn layui-btn-sm '+${obj['dtDisabled']==1?'':'layui-btn-danger'}" th:onclick="'confirmDisabled(\''+${obj['id']}+'\','+${obj['dtDisabled']==1?0:1}+',\''+${obj['dtDisabled']==1?'是否发布':'是否撤回发布'}+'\')'" th:text="${obj['dtDisabled']==1?'发 布':'撤回发布'}"></button>
                <button  class="layui-btn layui-btn-sm layui-btn-danger" th:onclick="'confirmDelete('+${obj['id']}+')'" >删 除</button>
            </div>
        </td>
    </tr>

    </tbody>


</table>
<th:block  layout:fragment="myjs" >

    <script type="text/javascript"  th:inline="javascript">
        initPage(/*[[${sPage!=null?sPage.total:0}]]*/ ,function(curr){
            ajaxPage(curr);
        });

        function confirmDisabled(id,status,msg){
            layer.confirm(msg, {icon: 3, title:'提示'}, function(index){
                if(index>0){
                    jQueryCommonSubmit("do-update-status",null,{id:id,status:status});

                }
                //layer.close(index);
            });
        }
        function confirmDelete(id){
            layer.confirm("是否删除？", {icon: 3, title:'提示'}, function(index){
                if(index>0){
                    jQueryCommonSubmit("do-delete",null,{id:id});

                }
                //layer.close(index);
            });
        }
    </script>

</th:block>


</html>
