<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8" />
  <th:block th:include="pages/manager/common/editResources::syseditjsresources"></th:block>
  <style type="text/css">
    .dmImge{z-index:10;width: 353px;height: 93.83px;position:absolute;top:0;left:0}
    .dmImg{z-index:10;width: 143.52px;height: 93.83px;position:absolute;top:0;left:0}

  </style>
</head>
<body style="padding:10px 10px 10px 10px">
<form class="layui-form layui-form-pane" >
  <input th:if="${goddess!=null and goddess['id']!=null}" th:name="id" th:value="${goddess['id']}" type="hidden"/>
  <input th:if="${goddess!=null and goddess['userId']!=null}" th:name="userId" th:value="${goddess['userId']}" type="hidden"/>
  <div class="layui-form-item">
    <label class="layui-form-label">昵称</label>
    <div class="layui-input-block">
      <input type="text" name="nickName" readonly title="昵称" th:value="${goddess!=null? goddess['nickName']:''}" autocomplete="off" class="layui-input" />
    </div>
  </div>

    <div class="layui-form-item">
        <label class="layui-form-label">预约开关</label>
        <div class="layui-input-block">
            <input type="checkbox" name="appointment" lay-filter="appointment" lay-skin="switch" lay-text="开启|关闭" th:checked="${goddess['appointment']==1}" th:value="${goddess['appointment']}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">竞价金额（分）</label>
        <div class="layui-input-block">
            <input type="text" name="bidPrice" required="required" title="竞价金额（单位分）"  lay-verify="required|number" th:value="${goddess!=null? goddess['bidPrice']:''}" placeholder="请输入竞价金额（分）" autocomplete="off" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">竞价定金（分）</label>
        <div class="layui-input-block">
            <input type="text" name="earnest" required="required" title="竞价定金（分）"  lay-verify="required|number" th:value="${goddess!=null? goddess['earnest']:''}" placeholder="请输入竞价定金（分）" autocomplete="off" class="layui-input" />
        </div>
    </div>

  <div class="layui-form-item" style="display: none">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="lay-submit" lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script type="text/javascript">
    window.onload=function(){
        initForm("do-edit",".layui-form")
        layui.use('form', function(){
            var form = layui.form;

            form.on('switch(appointment)', function(data){
                if(data.elem.checked){
                    $("[name='appointment']").val(1);
                }else {
                    $("[name='appointment']").val(0);
                }
            });
        })
    }


</script>
</body>
</html>