<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <th:block th:include="pages/manager/common/cssResources::syscssresources"></th:block>
        <th:block th:include="pages/manager/common/jsResources::sysjsresources"></th:block>
        <script type="text/javascript"  th:inline="javascript">
           initPage(/*[[${goddessPage!=null?goddessPage.total:0}]]*/ );
        </script>
	</head>
    <body class="withvernav">
    <div class="bodywrapper">

        <th:block th:include="pages/manager/common/header::sysheader"></th:block>
        <th:block th:include="pages/manager/common/menus::sysmenus"></th:block>
       <div class="centercontent tables">

           <!-- <div class="pageheader notab">
           <h1 class="pagetitle">Tables</h1>
           <span class="pagedesc">This is a sample description of a page</span>

       </div>--><!--pageheader-->

            <div id="contentwrapper" class="contentwrapper">
                <div class="contenttitle2">
                    <h3>女神列表</h3>

                </div><!--contenttitle-->

                <div class="tableoptions">
                    <form class="layui-form" >
                        <div class="layui-form-item2 layui-form-item">
                            <div class="float-left-div" >

                                <label class="layui-form-label" >名称</label>
                                <div class="layui-input-inline" >
                                    <input class="layui-input" name="userName" th:value="${#httpServletRequest.getParameter('userName')}"/>
                                </div>
                            </div>
                            <a href="javascript:void(0)" onclick="jQuery('.layui-form').submit()" class="btn btn_search radius50"><span>Search</span></a>

                        </div>
                    </form>
                </div>
                <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
                    <colgroup>
                        <!--<col class="con0" style="width: 4%" />-->
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="head0">身份证</th>
                        <th class="head1">昵称</th>
                        <th class="head0">预约开关</th>
                        <th class="head1">店内桌号（桌名）</th>
                        <th class="head0">竞价金额（分）</th>
                        <th class="head1">竞价定金（分）</th>
                        <th class="head0">创建时间</th>
                        <th class="head1">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="obj:${goddessPage?.result}">
                        <td><img data-method="notice" th:attr="src=${obj['idcardFrontUrl']}" th:width="40px" th:height="40px"></td>
                        <td th:text="${obj['nickName']}">Trident</td>
                        <td th:text="${obj['appointment'] == 1?'开启':'关闭'}">Trident</td>
                        <td th:text="${obj['tableNo']}">Trident</td>
                        <td th:text="${obj['bidPrice']}">Trident</td>
                        <td th:text="${obj['earnest']}">Trident</td>
                        <td th:text="${obj['updateTime']!=null ? #dates.format(obj['updateTime'], 'yyyy-MM-dd HH:mm:ss'):''}">Win 95+</td>
                        <td class="center">
                            <div class="layui-btn-group">
                            <button class="layui-btn layui-btn-sm" th:onclick="'openDialog(\'500px\',\'380px\',\'修改\',\'to-edit?id='+${obj['id']}+'\')'"  >修 改</button>
                            </div>
                        </td>
                    </tr>

                    </tbody>

                </table>
                <div id="pages"></div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        layui.use('form', function(){
            var form = layui.form;

        })

        layui.use('layer', function(){ //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

            //触发事件
            var active = {
                notice: function(othis){
                    console.log(othis);
                    //示范一个公告层
                    layer.open({
                        type: 1
                        ,title: false //不显示标题栏
                        ,closeBtn: false
                        ,area: '500px;'
                        ,shade: 0.8
                        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,btn: ['关闭']
                        ,btnAlign: 'c'
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: '<img data-method="notice" src="'+othis.attr("src")+'">'
                    });
                }
            };

            $('img').on('click', function(){
                var othis = $(this), method = othis.data('method');
                active[method] ? active[method].call(this, othis) : '';
            });

        });

    </script>
	</body>

</html>
