<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=750px, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>餐饮shop</title>

    <link type="text/css" rel="stylesheet" href="rs/layui_v2.4.5/css/layui.css"/>
    <link type="text/css" rel="stylesheet" href="rs/shopIndex.css?v=15"/>
    <script type="text/javascript" src="rs/layui_v2.4.5/layui.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="rs/jquery.mobile.custom.min.js"></script>
    <script type="text/javascript" src="/sysframe2/js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
    <script type="text/javascript" src="rs/shopIndex.js?v=29"></script>

</head>
<body>

<div class="shop_main" id="shop_main" >
    <div class="shop_head_style">
        <div class="head_top">
            <img id="topImg" v-bind:src="data.bannerUrl"/>
        </div>

        <div class="head_store_logo">
            <img id="headImg" v-bind:src="data.headUrl"/>
        </div>
        <div class="head_store_info">
            <h1>{{data.name}}</h1>
            <p>{{data.address}}</p>
        </div>
        <div class="head_order_list_menu" onclick="toOrderList()">
            <i class="layui-icon layui-icon-spread-left" ></i>

        </div>
        <div class="head_bottom">
            {{data.desc}}
        </div>
    </div>
    <div class="shop_body_style">
        <div class="body_left" >
            <ul>
                <li v-for="(item,index) in data.list"  v-bind:id="'left_item_'+index" v-bind:class="index==0?'white_style':''">{{item.name}}</li>

            </ul>
        </div>
        <div class="body_right" >
            <div class="right_item" v-for="(item,index) in data.list"  v-bind:id="'right_item_'+index">
                <div class="item_title" >
                    {{item.name}}
                </div>
                <div class="item_content" v-for="obj in item.list">
                    <div class="content_left">
                        <img v-bind:src="obj.imgUrl">
                    </div>
                    <div class="content_mid">
                        <p class="mid_title">{{obj.name}}</p>
                        <p class="mid_sale">销量：{{obj.monthSales}}</p>
                        <p class="mid_price" >{{(obj.products[0].actPrice==null?obj.products[0].price:obj.products[0].actPrice)/100}}元{{obj.products.length>1?"起":""}}</p>
                    </div>
                    <div class="content_right" v-if="obj.products.length>1">

                        <div class="right_spec" v-bind:datas="JSON.stringify(obj.products)" v-bind:title="obj.name" v-bind:gcode="obj.code">选择规格</div>
                        <div class="right_spec_num" v-bind:cacheSpecGcode="obj.code">

                        </div>
                    </div>
                    <div class="content_right" v-else >
                        <div class="right_start">-</div>
                        <div class="right_mid" v-bind:cacheMidGcode="obj.code"></div>
                        <div class="right_end" v-bind:datas="JSON.stringify(obj.products)" v-bind:title="obj.name" v-bind:gcode="obj.code">+</div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="shop_foot_style">

        <div class="foot_style_price" id="foot_style_price" money="0"></div>
        <div class="foot_style_pay" onclick="handlePay()">
            <i class="layui-icon" >&#xe63c;</i>
            <div class="pay_name">结算</div>

        </div>


    </div>
    <div class="shop_car">
        <div id="car_show_num" class="car_show_num" ></div>
        <i class="layui-icon" >&#xe657;</i>
    </div>
</div>
<div class="spec_pop" id="spec_pop">
    <div class="pop_title">{{title}}</div>
    <div class="pop_mid">规格</div>
    <div class="pop_content">

        <div  v-for="(item,index) in list"  class="content_option_main">
            <div class="content_option" onclick="optionClickHandle(this)" v-bind:title="title" v-bind:code="item.code" v-bind:gcode="gcode" v-bind:datas="JSON.stringify(item)">
                <div class="content_option_left">{{item.name}}-</div>

                <div  v-bind:class="item.actPrice==null?'content_option_right2':'content_option_right'">
                    <p v-if="item.actPrice!=null" class="underline">{{item.price/100+"元"}}</p>
                    <p class="price_style_p">{{(item.actPrice==null?item.price:item.actPrice)/100+"元"}}</p>
                </div>
            </div>
            <div class="content_option_num">

            </div>

        </div>

    </div>
    <div class="pop_foot">
        <div class="foot_cancel">取消</div>
        <div class="foot_sure " onclick="joinShopCar(this)">加入购物车</div>
        <div class="foot_btn displayStyle ">
            <div class="sure_start" onclick="popSubs(this)">-</div>
            <div class="sure_mid"></div>
            <div class="sure_end" onclick="popAdd(this)">+</div>
        </div>
    </div>

</div>
<div class="show_car_list" id="show_car_list">
    <div class="car_list_clear">
        <span  onclick="clearShopCar()">清空购物车</span>
    </div>
    <div class="car_list_main">
        <div class="car_list_tr" v-for="item in list">
            <div class="list_one" >{{item.name}}</div>
            <div class="list_two">{{item.money/100}}元</div>
            <div class="list_three" v-bind:carGcode="item.gcode" v-bind:carCode="item.code" v-bind:carPrice="item.money" v-bind:carUnitPrice="item.money/item.num">
                <div class="car_end" onclick="carAdd(this)">+</div>
                <div class="car_mid" >{{item.num}}</div>

                <div class="car_start" onclick="carSub(this)">-</div>
            </div>
        </div>

    </div>
</div>
<div class="shop_main_right" id="order_list">
    <div class="main_right_top"><i class="layui-icon layui-icon-left" onclick="toMain()">返回</i></div>
    <div class="main_right_content">
        <div class="right_centent_item" v-for="(item,index) in list" >
            <div class="right_content_top">
                <span class="content_top_left">订单编号：{{item.orderNo}}</span>
                <span  class="content_top_right">{{item.shipStatusName}}</span>
            </div>
            <div class="rignt_content_body">
                <div class="content_body_pic">
                    <img v-bind:src="item.headImg" onload=" handleImg(this)">
                </div>
                <div class="content_body_b">
                    <div class="body_b_head">
                        <div class="b_head_left">{{item.name}}</div>
                        <div class="b_head_right">
                            <span class="head_right_1">实付:</span>
                            <span class="head_right_2">￥{{item.price/100}}</span>
                        </div>

                    </div>
                    <div class="body_b_body">
                        {{item.desc}}
                    </div>
                    <div class="body_b_foot">{{item.createTime}}</div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>