<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="pages/manager/common/layout" >

<th:block   layout:fragment="options">
    <div class="contenttitle2">
        <h3>公众号列表</h3>
    </div><!--contenttitle-->
    <div class="tableoptions">
        <button class="radius3" id="createBtn" onclick="openDialog('400px','380px','创建公众号','edit')" title="table2">新建</button> &nbsp;
    </div>
</th:block>
<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
    <th:block   layout:fragment="dataHead">

        <colgroup >
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
        </colgroup>
        <thead >
        <tr>
            <th class="head1">名称</th>
            <th class="head0">AppID</th>
            <th class="head1">AppSecret</th>
            <th class="head0">原始ID</th>
            <th class="head1">创建时间</th>
            <th class="head0">操作</th>
        </tr>
        </thead>
    </th:block>
    <tbody layout:fragment="dataBody" th:attr="total=${pubPage!=null?pubPage.total:0}">
    <tr th:each="obj:${pubPage?.result}">

        <td th:text="${obj['name']}">Trident</td>
        <td th:text="${obj['appid']}">Internet Explorer 4.0</td>
        <td th:text="${obj['appsecret']}">Win 95+</td>
        <td th:text="${obj['openid']}">Win 95+</td>
        <td th:text="${#dates.format(obj['update_date'], 'yyyy-MM-dd HH:mm:ss')}">Win 95+</td>

        <td class="center">
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" th:onclick="'openDialog(\'400px\',\'380px\',\'修改公众号\',\'edit?appid='+${obj['appid']}+'\')'" >修 改</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger" th:onclick="'del(\''+${obj['appid']}+'\')'" >删除</button>
            </div>
    </tr>

    </tbody>


</table>
<th:block  layout:fragment="myjs" >

    <script type="text/javascript"  th:inline="javascript">
        initPage(/*[[${pubPage!=null?pubPage.total:0}]]*/ ,function(curr){
            ajaxPage(curr);
        });
        function del(obj){
            layer.confirm('确定删除?',{icon:3,title:'提示'}, function(index){
                // layer.close(index);
                //向服务端发送删除指令
                jQueryCommonSubmit("delete",null,{appid:obj});

            });

        }
    </script>

</th:block>


</html>
