<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="pages/manager/common/layout" >

<th:block   layout:fragment="options">
    <div class="contenttitle2">
        <h3>微信用户标签列表</h3>
    </div><!--contenttitle-->
    <div class="tableoptions">
        <form class="layui-form">
            <div class="layui-form-item2 layui-form-item" style="float: left;">
                <div class="float-left-div" >
                    <label class="layui-form-label" >公众号</label>
                    <div class="layui-input-inline" >
                        <select name="appid" id="appid" lay-filter="appid">
                            <option th:each="pubweixin:${pubweixinList}" th:value="${pubweixin?.appid}" th:text="${pubweixin?.name}" th:selected="${appid == pubweixin?.appid}"> 公众号名称</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <button class="radius3" id="createBtn" title="新建标签" onclick="openDialog('500px','340px','新建标签','edit?id=-1&appid='+jQuery('#appid').val())">新建标签</button> &nbsp;
        <button class="radius3" type="button" id="syncTags" lay-filter="formDemo">刷新标签</button> &nbsp;
    </div>
</th:block>
<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
    <th:block   layout:fragment="dataHead">

        <colgroup >
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
        </colgroup>
        <thead >
        <tr>
            <th class="head0">标签id</th>
            <th class="head1">标签名</th>
            <th class="head0">粉丝数量</th>
            <th class="head1">创建日期</th>
            <th class="head0">操作</th>
        </tr>
        </thead>
    </th:block>
    <tbody layout:fragment="dataBody" th:attr="total=${tagsPage!=null?tagsPage.total:0}">
    <tr th:each="obj:${tagsPage?.result}">
        <td th:text="${obj['id']}">Trident</td>
        <td th:text="${obj['name']}">Internet Explorer 4.0</td>
        <td th:text="${obj['count']}">Win 95+</td>
        <td th:text="${obj['create_date']!=null ? #dates.format(obj['create_date'], 'yyyy-MM-dd HH:mm:ss'):''}">Win 95+</td>
        <td class="center">
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" th:onclick="'openDialog(\'500px\',\'340px\',\'修改标签\',\'edit?id='+${obj['id']}+'&appid='+${obj['appid']}+'\')'"  >修 改</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger" th:onclick="'del(\''+${obj['id']}+'\',\''+${obj['appid']}+'\')'" >删除</button>
            </div>
        </td>
    </tr>

    </tbody>


</table>
<th:block  layout:fragment="myjs" >

    <script type="text/javascript"  th:inline="javascript">
        initPage(/*[[${tagsPage!=null?tagsPage.total:0}]]*/ ,function(curr){
            ajaxPage(curr);
        });
        layerForm.on('select(appid)', function(data){
            jaxPage(1,"search");
        });
        function del(obj,obj2) {
            layer.confirm('是否删除?',{icon:3,title:'提示'}, function(index){
                // layer.close(index);
                //向服务端发送删除指令
                jQueryCommonSubmit("delete",null,{id:obj,appid:obj2});

            });

        }

        //立即同步微信用户标签
        jQuery("#syncTags").click(function(){
            jQueryCommonSubmit("/weixin/tags/alltags",null,{appid:jQuery("[name='appid']").val()});

        });
    </script>

</th:block>


</html>
