<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="pages/manager/common/layout" >

<th:block   layout:fragment="options">
    <div class="contenttitle2">
        <h3>段位列表</h3>

    </div><!--contenttitle-->

    <div class="tableoptions">

        <form class="layui-form" >
            <div class="layui-form-item2 layui-form-item">
                <div class="float-left-div" >
                    <label class="layui-form-label" >游戏</label>
                    <div class="layui-input-inline" >
                        <select name="gameId" id="gameId" lay-filter="gameId">
                            <option th:each="game:${gameList}" th:value="${game?.id}" th:text="${game?.gameName}" th:selected="${game?.id == gameId}"> 游戏名称</option>
                        </select>
                    </div>

                    <label class="layui-form-label" >名称</label>
                    <div class="layui-input-inline" >
                        <input class="layui-input" name="gradeName" th:value="${#httpServletRequest.getParameter('gradeName')}"/>
                    </div>
                </div>
                <a href="javascript:void(0)" onclick="ajaxPage(1,'search')" class="btn btn_search radius50"><span>Search</span></a>

            </div>
        </form>
    </div>
    <div class="tableoptions">

        <button class="radius3" id="createBtn" onclick="openDialog('400px','300px','新增段位','to-edit?id=-1&gameId='+jQuery('#gameId').val())" title="table2">新增段位</button> &nbsp;

    </div>
</th:block>
<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
    <th:block   layout:fragment="dataHead">

        <colgroup >
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
        </colgroup>
        <thead >
        <tr>
            <th class="head0">名称</th>
            <th class="head1">排序</th>
            <th class="head0">星数</th>
            <th class="head1">单价（分）</th>
            <th class="head0">创建时间</th>
            <th class="head1">操作</th>
        </tr>
        </thead>
    </th:block>
    <tbody layout:fragment="dataBody" th:attr="total=${rankList!=null?rankList.total:0}">
    <tr th:each="obj:${rankList?.result}">
        <td th:text="${obj['rank']}">Trident</td>
        <td th:text="${obj['sort']}">Trident</td>
        <td th:text="${obj['star']}">Trident</td>
        <td th:text="${obj['money']}">Trident</td>
        <td th:text="${obj['createTime']!=null ? #dates.format(obj['createTime'], 'yyyy-MM-dd HH:mm:ss'):''}">Win 95+</td>
        <td class="center">
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-sm" th:onclick="'openDialog(\'400px\',\'300px\',\'修改名称\',\'to-edit?id='+${obj['id']}+'\')'"  >修 改</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger" th:onclick="'del(\''+${obj['id']}+'\')'" >删除</button>
            </div>
        </td>
    </tr>

    </tbody>


</table>
<th:block  layout:fragment="myjs" >

    <script type="text/javascript"  th:inline="javascript">
        initPage(/*[[${rankList!=null?rankList.total:0}]]*/ ,function(curr){
            ajaxPage(curr);
        });
        layui.use('form', function(){
            var form = layui.form;
            form.on('select(gameId)', function(data){
                jQuery.post("list",{gameId:data.value},function(){
                    var currentUrl=window.parent.location.href;
                    if(currentUrl.indexOf("?")==-1){
                        top.location.href=currentUrl+"?gameId="+data.value;

                    }else{
                        if(currentUrl.indexOf("gameId")==-1){
                            top.location.href=currentUrl+"&gameId="+data.value;
                        }else{
                            top.location.href=currentUrl.replace(/gameId=[^&]+/,"gameId="+data.value);
                        }
                    }
                });
            });
        });

        function del(obj) {
            //删除
            layer.confirm('确定删除?',{icon:2,title:'删除'}, function(index){
                layer.close(index);
                //向服务端发送删除指令
                jQuery.post("delete",{id:obj},function(data){
                    layer.msg(data.reMsg);
                    window.setTimeout(function(){
                        top.location.href=window.parent.location.href;
                    },500)
                });
            });
        }
    </script>

</th:block>


</html>
