<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddw.dao.GoddessMapper">

    <resultMap id="BaseResultMap" type="com.ddw.beans.vo.AppIndexGoddessVO">
        <id property="id" column="id"/>
        <result property="nickName" column="nickName"/>
        <result property="headImgUrl" column="headImgUrl"/>
        <result property="ggradeName" column="ggradeName"/>
        <result property="label" column="label"/>
        <result property="bidPrice" column="bidPrice"/>
        <result property="fans" column="fans"/>
        <result property="storeId" column="storeId"/>
        <result property="dsName" column="dsName"/>
    </resultMap>


    <select id="getGoddessList" parameterType="int" resultMap="BaseResultMap">
        select t1.bidPrice,t3.id,t3.nickName,t3.headImgUrl,t3.label,t4.gradeName ggradeName,count(1) AS fans
        from ddw_goddess t1 left join ddw_my_attention t2 on t1.userId=t2.goddessId and t1.storeId = #{storeId}
        LEFT join ddw_userinfo t3 on t1.userId = t3.id
        left join ddw_goddess_grade t4 on t4.id=t3.goddessGradeId
        group  by t1.userId,t1.bidPrice
        order by count(1) desc
        limit #{start},#{end}
    </select>

    <select id="getGoddessListByIds" resultMap="BaseResultMap">
        select t1.bidPrice,t3.id,t3.nickName,t3.headImgUrl,t3.label,
        t4.gradeName ggradeName,count(1) AS fans,t5.id AS storeId,t5.dsName,1 AS liveRadioFlag
        from ddw_goddess t1 left join ddw_my_attention t2 on t1.userId=t2.goddessId
        LEFT join ddw_userinfo t3 on t1.userId = t3.id
        left join ddw_goddess_grade t4 on t4.id=t3.goddessGradeId
        LEFT JOIN ddw_store t5 on t5.id=t1.storeId
        where t1.userId in
        <foreach collection="userIdList" item="value"  index="key" open="(" separator="," close=")">
            #{value}
        </foreach>
        and t1.userId != #{userId}
        group  by t1.userId,t1.bidPrice,t5.id
        order by count(1) desc
        limit #{start},#{end}
    </select>

    <select id="getGoddessListByNotInIds" resultMap="BaseResultMap">
        select t1.bidPrice,t3.id,t3.nickName,t3.headImgUrl,t3.label,
        t4.gradeName ggradeName,count(1) AS fans,t5.id AS storeId,t5.dsName,2 AS liveRadioFlag
        from ddw_goddess t1 left join ddw_my_attention t2 on t1.userId=t2.goddessId
        LEFT join ddw_userinfo t3 on t1.userId = t3.id
        left join ddw_goddess_grade t4 on t4.id=t3.goddessGradeId
        LEFT JOIN ddw_store t5 on t5.id=t1.storeId
        where t1.userId != #{userId}
        <if test="userIdList !=null and userIdList.size() >0 ">
            and t3.id NOT in
            <foreach collection="userIdList" item="value"  index="key" open="(" separator="," close=")">
                #{value}
            </foreach>
        </if>
        group  by t1.userId,t1.bidPrice,t5.id
        order by count(1) desc
        limit #{start},#{end}
    </select>

    <select id="getGoddessListCount" parameterType="int" resultType="int">
        SELECT count(*) from ddw_goddess where storeId = #{storeId}
    </select>

</mapper>