<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddw.dao.GoddessMapper">

    <resultMap id="BaseResultMap" type="com.ddw.beans.vo.AppIndexGoddessVO">
        <id property="id" column="id"/>
        <result property="nickName" column="nickName"/>
        <result property="headImgUrl" column="headImgUrl"/>
        <result property="ggradeName" column="ggradeName"/>
        <result property="label" column="label"/>
        <result property="bidPrice" column="bidPrice"/>
        <result property="fans" column="fans"/>
        <result property="storeId" column="storeId"/>
        <result property="dsName" column="dsName"/>
        <result property="job" column="job"/>
        <result property="age" column="age"/>
        <result property="signature" column="signature"/>
        <result property="interest" column="interest"/>
        <result property="starSign" column="starSign"/>
    </resultMap>


    <select id="getGoddessList" parameterType="int" resultMap="BaseResultMap">
        select t1.bidPrice,t3.id,t3.nickName,t3.headImgUrl,t3.label,t3.job,t3.age,t3.signature,t3.interest,t3.starSign,
        t4.gradeName ggradeName,count(t2.goddessId) AS fans
        from ddw_goddess t1 left join ddw_my_attention t2 on t1.userId=t2.goddessId and t1.storeId = #{storeId}
        LEFT join ddw_userinfo t3 on t1.userId = t3.id
        left join ddw_goddess_grade t4 on t4.id=t3.goddessGradeId
        group  by t2.goddessId
        order by count(t2.goddessId) desc
        limit #{start},#{end}
    </select>

    <select id="getGoddessListByIds" resultMap="BaseResultMap">
        select t1.bidPrice,t3.id,t3.nickName,t3.headImgUrl,t3.label,t3.job,t3.age,t3.signature,t3.interest,t3.starSign,
        t4.gradeName ggradeName,count(t2.goddessId) AS fans,t5.id AS storeId,t5.dsName,1 AS liveRadioFlag
        from ddw_goddess t1 left join ddw_my_attention t2 on t1.userId=t2.goddessId
        LEFT join ddw_userinfo t3 on t1.userId = t3.id
        left join ddw_goddess_grade t4 on t4.id=t3.goddessGradeId
        LEFT JOIN ddw_store t5 on t5.id=t1.storeId
        where t1.userId in
        <foreach collection="userIdList" item="value"  index="key" open="(" separator="," close=")">
            #{value}
        </foreach>
        and t1.userId != #{userId}
        <if test="weekList != null and weekList == 1">
            and YEARWEEK(date_format(t2.createTime,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
        </if>
        group  by t2.goddessId
        order by count(t2.goddessId) desc
        limit #{start},#{end}
    </select>

    <select id="getGoddessListByNotInIdsNoFans" resultMap="BaseResultMap">
        select t1.bidPrice,t3.id,t3.nickName,t3.headImgUrl,t3.label,t3.job,t3.age,t3.signature,t3.interest,t3.starSign,
        t4.gradeName ggradeName,0 AS fans,t5.id AS storeId,t5.dsName,2 AS liveRadioFlag
        from ddw_goddess t1
        LEFT join ddw_userinfo t3 on t1.userId = t3.id
        left join ddw_goddess_grade t4 on t4.id=t3.goddessGradeId
        LEFT JOIN ddw_store t5 on t5.id=t1.storeId
        where t1.userId != #{userId}
        <if test="userIdList !=null and userIdList.size() >0 ">
            and t3.id NOT in
            <foreach collection="userIdList" item="value"  index="key" open="(" separator="," close=")">
                #{value}
            </foreach>
        </if>
        order by t1.createTime desc
        limit #{start},#{end}
    </select>

    <select id="getGoddessListByNotInIds" resultMap="BaseResultMap">
        select t1.bidPrice,t3.id,t3.nickName,t3.headImgUrl,t3.label,t3.job,t3.age,t3.signature,t3.interest,t3.starSign,
        t4.gradeName ggradeName,count(t2.goddessId) AS fans,t5.id AS storeId,t5.dsName,2 AS liveRadioFlag
        from ddw_goddess t1 left join ddw_my_attention t2 on t1.userId=t2.goddessId
        LEFT join ddw_userinfo t3 on t1.userId = t3.id
        left join ddw_goddess_grade t4 on t4.id=t3.goddessGradeId
        LEFT JOIN ddw_store t5 on t5.id=t1.storeId
        where t1.userId != #{userId}
        <if test="userIdList !=null and userIdList.size() >0 ">
            and t3.id NOT in
            <foreach collection="userIdList" item="value"  index="key" open="(" separator="," close=")">
                #{value}
            </foreach>
        </if>
        <if test="weekList != null and weekList == 1">
            and YEARWEEK(date_format(t2.createTime,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
        </if>
        group  by t2.goddessId
        order by count(t2.goddessId) desc
        limit #{start},#{end}
    </select>

    <select id="liveGoddess" resultType="com.ddw.beans.vo.LiveRadioListVO">
        SELECT
            t1.nickName,
            t1.userName,
            t1.openid,
          t1.headImgUrl,
        t1.age,
        t1.label,
            t1.id userId,
            count( ct0.id ) a,
            ct2.id,
            ct2.groupId,
            ct1.langlat,
            (case  when ct2.maxGroupNum is null then 0 else ct2.maxGroupNum end) as viewingNum,
            (case  when ct2.liveStatus is null then 2 else ct2.liveStatus end) as liveRadioFlag
        FROM
            ddw_userinfo t1
            LEFT JOIN ddw_my_attention ct0 ON ct0.goddessId = t1.id
            LEFT JOIN ddw_goddess ct1 ON t1.id = ct1.userId
            LEFT JOIN ddw_live_radio_space ct2 ON ct2.id = ct1.liveId
        <where>
            <if test="null!=userId">
                and t1.id!=#{userId}
            </if>

            <if test="null!=storeId" >
                and ct2.storeid=#{storeId}
            </if>
        </where>

        GROUP BY
            t1.id
        ORDER BY
        liveRadioFlag Asc,a Desc
        <if test="null!=startNum and null!=endNum" >
            limit #{startNum },#{endNum}
        </if>
    </select>
</mapper>