<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddw.dao.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.ddw.beans.UserInfoVO">
        <id property="id" column="id"/>
        <result property="userName" column="userName"/>
        <result property="openid" column="openid"/>
        <result property="realName" column="realName"/>
        <result property="nickName" column="nickName"/>
        <result property="headImgUrl" column="headImgUrl"/>
        <result property="phone" column="phone"/>
        <result property="label" column="label"/>
        <result property="interest" column="interest"/>
        <result property="job" column="job"/>
        <result property="age" column="age"/>
        <result property="starSign" column="starSign"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="area" column="area"/>
        <result property="gradeId" column="gradeId"/>
        <result property="ugradeName" column="ugradeName"/>
        <result property="ulevel" column="ulevel"/>
        <result property="goddessGradeId" column="goddessGradeId"/>
        <result property="ggradeName" column="ggradeName"/>
        <result property="glevel" column="glevel"/>
        <result property="practiceGradeId" column="practiceGradeId"/>
        <result property="pgradeName" column="pgradeName"/>
        <result property="plevel" column="plevel"/>
        <result property="liveRadioFlag" column="liveRadioFlag"/>
        <result property="goddessFlag" column="goddessFlag"/>
        <result property="practiceFlag" column="practiceFlag"/>
        <result property="realnameFlag" column="realnameFlag"/>
        <result property="inviteCode" column="inviteCode"/>
        <result property="signature" column="signature"/>
        <result property="sex" column="sex"/>
        <result property="registerType" column="registerType"/>
        <result property="idcard" column="idcard"/>
        <result property="idcardFrontUrl" column="idcardFrontUrl"/>
        <result property="idcardOppositeUrl" column="idcardOppositeUrl"/>
        <result property="contributeNum" column="contributeNum"/>
    </resultMap>

    <resultMap id="MyAttentionResultMap" type="com.ddw.beans.MyAttentionInfoVO">
        <id property="userId" column="id"/>
        <result property="openid" column="openid"/>
        <result property="userName" column="userName"/>
        <result property="headImgUrl" column="headImgUrl"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="storeId" column="storeId"/>
        <result property="storeName" column="dsName"/>
    </resultMap>

    <sql id="Base_Column_List">
        t1.id,
        t1.openid,
        t1.userName,
        t1.realName,
        t1.nickName,
        t1.headImgUrl,
        t1.phone,
        t1.label,
        t1.interest,
        t1.job,
        t1.age,
        t1.starSign,
        t1.signature,
        t1.province,
        t1.city,
        t1.area,
        t1.sex,
        t1.registerType,
        t1.idcard,
        t1.idcardFrontUrl,
        t1.idcardOppositeUrl,
        t1.inviteCode,
        t1.goddessFlag,
        t1.practiceFlag,
        t1.gradeId,
        t1.goddessGradeId,
        t1.practiceGradeId,
        t1.createTime,
        ct0.gradeName ugradeName,
        ct0.LEVEL ulevel,
        ct1.gradeName ggradeName,
        ct1.LEVEL glevel,
        ct2.gradeName pgradeName,
        ct2.LEVEL plevel,
        sum( ct3.consumePrice ) contributeNum
    </sql>

    <sql id="Base_Column_List2">
        t1.id,
        t1.openid,
        t1.userName,
        t1.realName,
        t1.nickName,
        t1.headImgUrl,
        t1.phone,
        t1.label,
        t1.interest,
        t1.job,
        t1.age,
        t1.starSign,
        t1.signature,
        t1.province,
        t1.city,
        t1.area,
        t1.sex,
        t1.registerType,
        t1.idcard,
        t1.idcardFrontUrl,
        t1.idcardOppositeUrl,
        t1.inviteCode,
        t1.goddessFlag,
        t1.practiceFlag,
        t1.gradeId,
        t1.goddessGradeId,
        t1.practiceGradeId,
        t1.createTime,
        ct0.gradeName ugradeName,
        ct0.LEVEL ulevel,
        ct1.gradeName ggradeName,
        ct1.LEVEL glevel,
        ct2.gradeName pgradeName,
        ct2.LEVEL plevel
    </sql>

    <select id="getUserInfoList" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List2"/>
        FROM
        ddw_userinfo t1
        LEFT JOIN ddw_grade ct0 ON ct0.id = t1.gradeId
        LEFT JOIN ddw_goddess_grade ct1 ON ct1.id = t1.goddessGradeId
        LEFT JOIN ddw_practice_grade ct2 ON ct2.id = t1.practiceGradeId
        WHERE
        t1.id in
        <foreach collection="userId" item="value"  index="key" open="(" separator="," close=")">
            #{value}
        </foreach>
    </select>

    <select id="getMyAttentionPracticeInfoList" parameterType="java.util.List" resultMap="MyAttentionResultMap">
        SELECT
        t1.id,
        t1.openid,
        t1.userName,
        t1.headImgUrl,
        t1.sex,
        t1.age,
        ct0.storeId,
        ct1.dsName
        FROM
        ddw_userinfo t1
        LEFT JOIN ddw_practice ct0 ON ct0.userId = t1.id
        LEFT JOIN ddw_store ct1 ON ct1.id = ct0.storeId
        WHERE
        t1.id in
        <foreach collection="userId" item="value"  index="key" open="(" separator="," close=")">
            #{value}
        </foreach>
    </select>

    <select id="getMyAttentionGoddessInfoList" parameterType="java.util.List" resultMap="MyAttentionResultMap">
        SELECT
        t1.id,
        t1.openid,
        t1.userName,
        t1.headImgUrl,
        t1.sex,
        t1.age,
        ct0.storeId,
        ct1.dsName
        FROM
        ddw_userinfo t1
        LEFT JOIN ddw_goddess ct0 ON ct0.userId = t1.id
        LEFT JOIN ddw_store ct1 ON ct1.id = ct0.storeId
        WHERE
        t1.id in
        <foreach collection="userId" item="value"  index="key" open="(" separator="," close=")">
            #{value}
        </foreach>
    </select>

    <select id="getUserInfo" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        ddw_userinfo t1
        LEFT JOIN ddw_grade ct0 ON ct0.id = t1.gradeId
        LEFT JOIN ddw_goddess_grade ct1 ON ct1.id = t1.goddessGradeId
        LEFT JOIN ddw_practice_grade ct2 ON ct2.id = t1.practiceGradeId
        LEFT JOIN ddw_consume_ranking_list ct3 ON ct3.consumeUserId = t1.id
        WHERE
        t1.openid = #{openid}
    </select>

    <select id="loginByOpenid" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List2"/>
        FROM
        ddw_userinfo t1
        LEFT JOIN ddw_grade ct0 ON ct0.id = t1.gradeId
        LEFT JOIN ddw_goddess_grade ct1 ON ct1.id = t1.goddessGradeId
        LEFT JOIN ddw_practice_grade ct2 ON ct2.id = t1.practiceGradeId
        WHERE
        t1.openid = #{openid}
    </select>

    <select id="getUserInfoById" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        ddw_userinfo t1
        LEFT JOIN ddw_grade ct0 ON ct0.id = t1.gradeId
        LEFT JOIN ddw_goddess_grade ct1 ON ct1.id = t1.goddessGradeId
        LEFT JOIN ddw_practice_grade ct2 ON ct2.id = t1.practiceGradeId
        LEFT JOIN ddw_consume_ranking_list ct3 ON ct3.consumeUserId = t1.id
        WHERE
        t1.id = #{id}
    </select>

</mapper>