<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="pages/manager/common/layout" >

<th:block   layout:fragment="options">
    <div class="contenttitle2">
        <h3>女神直播列表</h3>

    </div><!--contenttitle-->

    <div class="tableoptions">

        <form class="layui-form" >
            <div class="layui-form-item2 layui-form-item">
                <div class="float-left-div" >

                    <label class="layui-form-label" >女神名称</label>
                    <div class="layui-input-inline" >
                        <input class="layui-input" name="gName" th:value="${#httpServletRequest.getParameter('gName')}"/>
                    </div>
                </div>
                <a href="javascript:void(0)" onclick="ajaxPage(1,'search')" class="btn btn_search radius50"><span>Search</span></a>

            </div>
        </form>
        <!-- <select class="radius3">
             <option value="">Show All</option>
             <option value="">Rendering Engine</option>
             <option value="">Platform</option>
         </select> &nbsp;
         <button class="radius3">Apply Filter</button>
         <input class="radius3" style="padding: 6px 5px 6px 5px;margin-left:10px;"/>-->
    </div>
</th:block>
<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
    <th:block   layout:fragment="dataHead">

        <colgroup >
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
        </colgroup>
        <thead >
        <tr>
            <th class="head1">房间名称</th>
            <th class="head1">房间状态</th>
            <th class="head1">直播女神</th>
            <th class="head1">访问量</th>
            <th class="head1">群最高人数</th>
            <th class="head1">过期时间</th>

            <th class="head1">创建时间</th>


            <th class="head1">操作</th>
        </tr>
        </thead>
    </th:block>
    <tbody layout:fragment="dataBody" th:attr="total=${page!=null?page.total:0}">
    <tr th:each="obj:${page?.result}" >
        <td  th:text="${obj['spaceName']}"></td>
        <td th:text="${#TdEnum.text('com.ddw.enums.LiveStatusEnum',obj['liveStatus'])}">Trident</td>
        <td th:text="${obj['userName']}">Trident</td>
        <td th:text="${obj['pv']}">Trident</td>
        <td th:text="${obj['maxGroupNum']}">Trident</td>
        <td th:text="${obj['endDate']==null?'':#dates.format(obj['endDate'],'yyyy-MM-dd HH:mm:ss')}" >
        </td>
        <td th:text="${obj['createTime']==null?'':#dates.format(obj['createTime'],'yyyy-MM-dd HH:mm:ss')}">Trident</td>

        <td class="center">
            <button  th:if="${obj['liveStatus'] ==2}" class="layui-btn layui-btn-sm layui-btn-disabled" >已禁用</button>

            <button  th:if="${obj['liveStatus'] <2}" class="layui-btn layui-btn-sm layui-btn-danger" th:onclick="'toStop(\''+${#TdTool.encrypt(obj['streamid'])}+'\')'">禁　用</button>

        </td>
    </tr>

    </tbody>


</table>
<th:block  layout:fragment="myjs" >

    <script type="text/javascript"  th:inline="javascript">
        initPage(/*[[${page!=null?page.total:0}]]*/ ,function(curr){
            ajaxPage(curr);
        });
        function toStop(streamId){
            layer.confirm("是否禁用直播房间？", {icon: 2, title:'提示'}, function(index){
                if(index>0){
                    jQueryCommonSubmit("do-close-live-radio",null,{streamId,streamId});

                }
                //layer.close(index);
            });
        }
    </script>

</th:block>


</html>
