<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <th:block th:include="pages/manager/common/cssResources::syscssresources"></th:block>
        <th:block th:include="pages/manager/common/jsResources::sysjsresources"></th:block>
        <script type="text/javascript"  th:inline="javascript">
           initPage(/*[[${oPage!=null?oPage.total:0}]]*/ );
        </script>
	</head>
    <body class="withvernav">
    <div class="bodywrapper">

        <th:block th:include="pages/manager/common/header::sysheader"></th:block>
        <th:block th:include="pages/manager/common/menus::sysmenus"></th:block>
       <div class="centercontent tables">

           <!-- <div class="pageheader notab">
           <h1 class="pagetitle">Tables</h1>
           <span class="pagedesc">This is a sample description of a page</span>

       </div>--><!--pageheader-->

            <div id="contentwrapper" class="contentwrapper">
                <div class="contenttitle2">
                    <h3>订单列表</h3>

                </div><!--contenttitle-->

                <div class="tableoptions">

                    <form class="layui-form" >
                        <div class="layui-form-item2 layui-form-item">
                        <div class="float-left-div" >

                            <label class="layui-form-label" >订单编号</label>
                            <div class="layui-input-inline" >
                                <input class="layui-input" name="uName" th:value="${#httpServletRequest.getParameter('uName')}"/>
                            </div>
                        </div>
                            <a href="javascript:void(0)" onclick="jQuery('.layui-form').submit()" class="btn btn_search radius50"><span>Search</span></a>

                    </div>
                    </form>
                    <!-- <select class="radius3">
                         <option value="">Show All</option>
                         <option value="">Rendering Engine</option>
                         <option value="">Platform</option>
                     </select> &nbsp;
                     <button class="radius3">Apply Filter</button>
                     <input class="radius3" style="padding: 6px 5px 6px 5px;margin-left:10px;"/>-->
                </div><!--tableoptions-->

                <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
                    <colgroup>
                        <!--<col class="con0" style="width: 4%" />-->
                        <col class="con0" />
                        <col class="con0" />
                        <col class="con0" />
                        <col class="con0" />
                        <col class="con0" />
                        <col class="con0" />
                        <col class="con0" />
                        <col class="con0" />
                        <col class="con0" />

                        <col class="con0" />
                    </colgroup>
                    <thead>

                    <tr>
                        <th class="head1">订单号</th>
                        <th class="head1">订单金额(元)</th>
                        <th class="head1">付款状态</th>
                        <th class="head1">付款方式</th>
                        <th class="head1">订单类型</th>
                        <th class="head1">货品状态</th>
                        <th  class="head1">订单状态</th>
                        <th class="head1">提交人</th>
                        <th class="head1">创建时间</th>


                        <th class="head1">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="obj:${oPage?.result}" th:with="orderNo=${#orderUtil.createOrderNo(obj['doOrderDate']+'',obj['doType'],obj['doPayType'],obj['id'])}">
                        <td  th:text="${orderNo}"></td>
                        <td th:text="${obj['doCost']==null ||obj['doCost']==0?0:#toolsddw.divided(obj['doCost'],100)}">Trident</td>
                        <td th:text="${#TdEnum.text('com.ddw.enums.PayStatusEnum',obj['doPayStatus'])}">Trident</td>
                        <td th:text="${#TdEnum.text('com.ddw.enums.PayTypeEnum',obj['doPayType'])}">Trident</td>
                        <td th:text="${#TdEnum.text('com.ddw.enums.OrderTypeEnum',obj['doType'])}">Trident</td>
                        <td th:text="${#TdEnum.text('com.ddw.enums.ShipStatusEnum',obj['doShipStatus'])}">Trident</td>
                        <td th:text="${#toolsddw.getOrderStatusInfo(obj['doPayStatus'],obj['doShipStatus'],obj['doEndTime'],orderNo)}" >
                        </td>
                        <td th:text="${obj['creater']}">Trident</td>
                        <td th:text="${#dates.format(obj['createTime'],'yyyy-MM-dd HH:mm')}">Win 95+</td>

                        <td class="center">
                            <div class="layui-btn-group">
                            <button class="layui-btn layui-btn-sm"  th:onclick="'viewDialog(\'650px\',\'580px\',\'订单详情\',\'/manager/order/to-order-info?orderNo='+${#toolsddw.encrypt(orderNo)}+'\')'"  >查 看</button>
                            <th:block th:utext="${#toolsddw.getBtnMsg(obj['doPayStatus'],obj['doShipStatus'],obj['doEndTime'],orderNo)}"></th:block>

                            </div>
                        </td>
                    </tr>

                    </tbody>

                </table>

                <div id="pages"></div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        function toDelete(orderNo){
            layer.confirm("是否删除订单？", {icon: 2, title:'提示'}, function(index){
                if(index>0){
                    jQueryCommonSubmit("do-delete-order",null,{orderNo,orderNo});

                }
                //layer.close(index);
            });
        }
        function toCancel(orderNo){
            layer.confirm("是否发起取消订单？", {icon: 2, title:'提示'}, function(index){
                if(index>0){
                    jQueryCommonSubmit("do-cancel-order",null,{orderNo,orderNo});

                }
                //layer.close(index);
            });
        }
        function toMakeSure(orderNo){
            layer.confirm("是否确证签收？", {icon: 3, title:'提示'}, function(index){
                if(index>0){
                    jQueryCommonSubmit("do-makesure-order",null,{orderNo,orderNo});

                }
                //layer.close(index);
            });
        }
        function toExchange(orderNo){
            layer.confirm("是否发起退换？", {icon: 3, title:'提示'}, function(index){
                if(index>0){
                    jQueryCommonSubmit("do-exchange-order",null,{orderNo,orderNo});

                }
                //layer.close(index);
            });
        }

        function confirmDisabled(id,status,msg){
            layer.confirm(msg, {icon: 3, title:'提示'}, function(index){
                if(index>0){
                    jQueryCommonSubmit("do-update-status",null,{idStr:id,status:status});

                }
                //layer.close(index);
            });
        }
        layui.use('form', function(){
            var form = layui.form;

        })

    </script>
	</body>

</html>
