<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="pages/manager/common/layout" >

<th:block   layout:fragment="options">
    <div class="contenttitle2">
        <h3>材料列表</h3>

    </div><!--contenttitle-->

    <div class="tableoptions">

        <form class="layui-form" >
            <div class="layui-form-item2 layui-form-item">
                <div class="float-left-div" >

                    <label class="layui-form-label" >名称</label>
                    <div class="layui-input-inline" >
                        <input class="layui-input" name="uName" th:value="${#httpServletRequest.getParameter('uName')}"/>
                    </div>
                </div>
                <a href="javascript:void(0)" onclick="ajaxPage(1,'search')" class="btn btn_search radius50"><span>Search</span></a>

            </div>
        </form>
        <!-- <select class="radius3">
             <option value="">Show All</option>
             <option value="">Rendering Engine</option>
             <option value="">Platform</option>
         </select> &nbsp;
         <button class="radius3">Apply Filter</button>
         <input class="radius3" style="padding: 6px 5px 6px 5px;margin-left:10px;"/>-->
    </div>
</th:block>
<table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
    <th:block   layout:fragment="dataHead">

        <colgroup >
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />

            <col class="con0" />
        </colgroup>
        <thead >
        <tr>
            <th class="head1">材料图</th>
            <th class="head1">材料名称</th>
            <th class="head1">单价(元)</th>
            <th class="head1">总价(元)</th>
            <th class="head1">总含量</th>
            <th class="head1">库存数</th>
            <th class="head1">创建时间</th>

            <th class="head1">操作</th>
        </tr>
        </thead>
    </th:block>
    <tbody layout:fragment="dataBody" th:attr="total=${smpage!=null?smpage.total:0}">
    <tr th:each="obj:${smpage?.result}" th:with="pn=${obj['dsCountNumber']}">
        <td ><img th:src="${obj['dmIcoImgPath']}" style="width:70px;height:60px" /></td>
        <td th:text="${obj['dmName']}">Trident</td>
        <td th:text="${#toolsddw.divided(obj['dmSales'],100)}">Trident</td>
        <td th:text="${#toolsddw.divided(obj['dmSales']*pn,100)}">Trident</td>
        <td th:text="${obj['dsCountNetWeight']+obj['dsUnit']}">Trident</td>
        <td th:text="${pn<1?'库存不足':pn}">Trident</td>

        <td th:text="${obj['createTime']}">Win 95+</td>

        <td class="center">
            <div class="layui-btn-group">
                <button  class="layui-btn layui-btn-sm" th:onclick="'openDialog(\'850px\',\'530px\',\'去进货\',\'/manager/hq/material/to-material-info?id='+${obj['materialId']}+'\')'"  >去进货</button>
            </div>
        </td>
    </tr>

    </tbody>


</table>
<th:block  layout:fragment="myjs" >

    <script type="text/javascript"  th:inline="javascript">
        initPage(/*[[${smpage!=null?smpage.total:0}]]*/ ,function(curr){
            ajaxPage(curr);
        });
        function confirmDisabled(id,status,msg){
            layer.confirm(msg, {icon: 3, title:'提示'}, function(index){
                if(index>0){
                    jQueryCommonSubmit("do-update-status",null,{idStr:id,status:status});

                }
                //layer.close(index);
            });
        }
    </script>

</th:block>


</html>
