<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/sysframe2/css/style.default.css" type="text/css" />

  <th:block th:include="pages/manager/common/editResources::syseditjsresources"></th:block>

  <style type="text/css">
    .mystyle1{
      line-height: 35px;
    }
  </style>
</head>
<body style="padding:10px 10px 10px 10px">
<form class="layui-form">
  <input type="hidden" th:if="${formula!=null && formula['id']!=null}" name="id" th:value="${formula!=null?formula['id']:''}"/>

    <div  class="layui-form-pane">
      <div class="layui-form-item">
        <label class="layui-form-label">配方名称</label>
        <div class="layui-input-block">
          <input type="text" name="dfName" required="required" title="配方名称"  lay-verify="required|max20" th:value="${formula!=null? formula['dfName']:''}" placeholder="请输配方名称" autocomplete="off" class="layui-input" />


        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">配方编号</label>
        <div class="layui-input-block">
          <input type="text" name="dfNumber" required="required" title="配方编号"  lay-verify="required" th:value="${formula!=null? formula['dfNumber']:''}" placeholder="请输入配方编号" autocomplete="off" class="layui-input" />

        </div>
      </div>


    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">材料</label>
      <div class="layui-input-block" >
        <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
          <colgroup>
            <col class="con0" style="width: 40%"  />
            <col class="con0" style="width: 30%"  />
            <col class="con0" style="width: 30%"  />

          </colgroup>
          <thead>
          <tr>

            <th class="head1">材料名称</th>
            <th class="head1">材料总净含量</th>
            <th class="head1">所需净含量</th>
          </tr>
          </thead>

          <tbody>
          <tr th:if="${formula!=null and #maps.containsKey(formula,'child')}" th:each="obj:${formula['child']}">
              <th:block th:utext="${#toolsddw.createStoreMaterialSelect(materialList,obj['materialId'])}"></th:block>
              <td>

                <input  class="layui-input" required="required"   lay-verify="required" placeholder="请输入所需净含量" autocomplete="off"   name="weight" style="background-color: peachpuff;"/>
              </td>

          </tr>
          <tr th:if="${formula==null or #lists.isEmpty(formula['child'])}">
            <th:block th:utext="${#toolsddw.createStoreMaterialSelect(materialList,0)}"></th:block>
            <td>

              <input  class="layui-input" required="required"   lay-verify="required" placeholder="请输入所需净含量" autocomplete="off"   name="weight" style="background-color: peachpuff;"/>
            </td>
          </tr>
          <tr>
            <td colspan="3" align="center">

              <i class="layui-icon">&#xe654;</i>
            </td>
          </tr>

          </tbody>

        </table>
      </div>
    </div>

      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="lay-submit" lay-filter="formDemo">立即提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
  </div>
</form>
</body>
<script type="text/javascript">
    initForm("do-order-exit-back-edit-mail",".layui-form")
</script>
</html>