<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="syscssresources">
	<meta charset="utf-8" />
	<title>管理平台</title>

	<link type="text/css" rel="stylesheet" th:href="'/layui/css/layui.css?v='+${v}"/>

	<link rel="stylesheet"type="text/css" th:href="'/sysframe2/css/style.default.css?v='+${v}" />
	<link type="text/css" rel="stylesheet" th:href="'/font-awesome/css/font-awesome.min.css?v='+${v}"/>
	<link type="text/css" rel="stylesheet" th:href="'/css/common.css?v='+${v}"/>
</head>
<body>

</body>
</html>