<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:if="${#httpServletRequest.getParameter('isAjax')==null}" >
    <meta charset="UTF-8">
    <th:block th:include="pages/manager/common/cssResources::syscssresources"></th:block>
    <th:block th:include="pages/manager/common/jsResources::sysjsresources"></th:block>
</head>
<body class="withvernav">
<div class="bodywrapper">
    <th:block th:if="${#httpServletRequest.getParameter('isAjax')==null}"  th:include="pages/manager/common/header::sysheader"></th:block>
    <th:block th:if="${#httpServletRequest.getParameter('isAjax')==null}"  th:include="pages/manager/common/menus::sysmenus"></th:block>
    <div class="centercontent tables">

        <!-- <div class="pageheader notab">
        <h1 class="pagetitle">Tables</h1>
        <span class="pagedesc">This is a sample description of a page</span>

    </div>--><!--pageheader-->

        <div id="contentwrapper" class="contentwrapper">
            <th:block th:if="${#httpServletRequest.getParameter('isAjax')==null}"  layout:fragment="options">
            <div class="contenttitle2" >
                <h3 >用户列表</h3>

            </div><!--contenttitle-->

            <div class="tableoptions" >


                <!-- <select class="radius3">
                     <option value="">Show All</option>
                     <option value="">Rendering Engine</option>
                     <option value="">Platform</option>
                 </select> &nbsp;
                 <button class="radius3">Apply Filter</button>
                 <input class="radius3" style="padding: 6px 5px 6px 5px;margin-left:10px;"/>-->
            </div><!--tableoptions-->
            <div class="tableoptions" >

                <button class="radius3" id="createBtn" onclick="openDialog('400px','320px','创建系统用户','to-edit')" title="table2">新建</button> &nbsp;

            </div>
            </th:block>
            <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
                <th:block th:if="${#httpServletRequest.getParameter('isAjax')==null}" layout:fragment="dataHead">
                <colgroup>
                    <!--<col class="con0" style="width: 4%" />-->
                    <col class="con0" />
                    <col class="con0" />
                    <col class="con0" />
                    <col class="con0" />

                    <col class="con0" />
                </colgroup>
                <thead >

                <tr>

                    <th class="head1">用户名</th>
                    <th class="head1">昵称</th>
                    <th class="head1">状态</th>
                    <th class="head1">创建时间</th>

                    <th class="head1">操作</th>
                </tr>
                </thead>
                </th:block>

                    <tbody layout:fragment="dataBody">


                    </tbody>



            </table>

            <div id="pages"></div>
        </div>
    </div>
</div>
<th:block th:if="${#httpServletRequest.getParameter('isAjax')==null}"   layout:fragment="myjs" >
    <script type="text/javascript" th:inline="javascript">

    </script>
</th:block>

</body>
</html>